@import '../themes';

@include themify() {
  button {
    display: inline-block;
    border: none;
    border-radius: 30px;
    padding: 0.6rem 2rem;
    margin: 0;
    text-decoration: none;
    background: themed('primaryColor');
    color: themed('buttonForegroundColor');
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: filter 250ms ease-in-out,
      transform 150ms ease;
    -webkit-appearance: none;
  }

  button:hover,
  button:focus {
    filter: brightness(85%);
    cursor: pointer;
  }

  button:active {
    transform: scale(0.99);
  }

  button:disabled {
    background: themed('secondaryBackgroundColor');
  }
}
