@import '../themes';

@include themify() {
  .chat-search {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .chat-search-input {
    background: themed('backgroundColor');
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
  }

  .chat-search-input::placeholder {
    text-align: center;
  }

  .chat-search-input:focus::placeholder {
    text-align: left;
  }
}
