@import "../themes";

@include themify() {
  .message-list {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > .toolbar {
      min-height: 53px;
      -webkit-app-region: drag;
    }
  }

  .message-list-container {
    flex: 1 1 auto;
    padding: 10px;
  }
}
