@import '../themes';

@include themify() {
  .message-list {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .message-list-container {
    flex: 1 1 auto;
    padding: 10px;
  }
}
