@import "../themes";

@include themify() {
  .message-list {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > .toolbar {
      background-color: themed('overlayBackgroundColor');
      min-height: 53px;
      -webkit-app-region: drag;

      .toolbar-title {
        flex: 1;
      }
    }

    &.composing {
      > .toolbar .left-items {
        flex: 1;
      }
    }
  }

  .message-list-container {
    flex: 1 1 auto;
    padding: 10px;
  }
}
