@import '../themes';

@include themify() {
  .modal-cover {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: themed('modalOverlayColor');
    width: 100%;
    height: 100%;
    z-index: 50;
    visibility: collapse;
    transition: visibility 0.3s, opacity 0.3s;
  }

  .modal:not(.modal-active) .modal-cover {
    opacity: 0;
  }

  .modal-active .modal-cover {
    z-index: 1024;
    visibility: visible;
  }

  .modal-outer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    visibility: collapse;
    transition: visibility 0.3s;
  }

  .modal-active .modal-outer-container {
    visibility: visible;
  }

  .modal-inner-container {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: themed('windowBackgroundColor');
    width: 550px;
    min-height: 350px;
    box-shadow: 0 0 60px 5px themed('modalShadowColor');
    text-align: center;
    transition: opacity 0.3s, transform 0.3s;
  }

  .modal:not(.modal-active) .modal-inner-container {
    transform: translateY(50%);
    opacity: 0;
  }

  .modal-header {
    padding: 0.5rem 1rem 0;
    border-bottom: 1px solid themed('highlightBorderColor');
    -webkit-app-region: drag;
  }

  .modal-header h1 {
    font-size: 1.8rem;
    margin-top: 6px;
    margin-bottom: 17px;
  }

  .modal-header p {
    font-size: 1rem;
    margin-top: 0;
  }

  .modal-header i {
    font-size: 80px;
  }

  .modal-body {
    margin: 1rem;
    text-align: left;
  }

  .modal-body hr.divider {
    overflow: visible;
    padding: 0;
    margin-top: 21px;
    margin-bottom: 4px;
    border: none;
    border-top: 1px solid themed('backgroundColor');
    width: 200px;
  }

  .modal-body hr.divider:after {
    content: "or";
    display: inline-block;
    position: relative;
    top: -10px;
    padding: 0 16px;
    background: themed('backgroundColor');
  }

  .modal-inner-container .cancel {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 2rem;
    padding: 4px;
  }

  .modal-body textarea,
  .modal-body input,
  .modal-body select {
    font-size: 0.9rem;
    width: 480px;
    background: themed('backgroundColor');
    color: themed('primaryForegroundColor');
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: .2em;
  }

  .modal-body select {
    width: 510px;
  }

  .modal-body textarea {
    font-family: monospace;
    height: 40vh;
    resize: none;
  }

  .modal-inner-container .error-message {
    color: themed('dangerForegroundColor');
    margin: 0;
    margin-bottom: 10px;
  }

  .modal-inner-container .message {
    color: themed('primaryColor');
    margin: 0;
    margin-bottom: 10px;
  }

  .modal-action {
    margin: 1rem;
  }
}
