@import '../themes';

@include themify() {
  .toolbar-button {
    color: themed('primaryColor');
    font-size: 28px;
    transition: all 0.1s;
  }

  .toolbar-button:hover {
    cursor: pointer;
    filter: brightness(85%);
  }

  .toolbar-button:active {
    color: themed('primaryColor');
    opacity: 0.25;
  }
}
