$darkTheme: (
  primaryColor: #0061E6,
  
  windowBackgroundColor: #000,
  contentBackgroundColor: #000,
  backgroundColor: #fff2,
  overlayBackgroundColor: #0006,

  primaryForegroundColor: #fffc,
  primaryColorForegroundColor: #fff,
  secondaryForegroundColor: #aaa,
  mutedForegroundColor: #252525,

  highlightBorderColor: #333,

  sidebarBackgroundColor: #222,
  sidebarSelectedItemBackgroundColor: #323232,

  modalBackgroundColor: #555d,
  modalOverlayColor: #1119,
  modalShadowColor: #0008,
  
  toolbarButtonColor: #0061E6,
  buttonBackgroundColor: #0061E6,
  buttonForegroundColor: #fff,

  dangerBackgroundColor: #dc3545,
  dangerForegroundColor: #fa3c4c,
  onlineColor: #01A452,
);