$darkTheme: (
  primaryColor: #0061E6,
  backgroundColor: #000,
  overlayBackgroundColor: rgba(0, 0, 0, 0.8),
  secondaryBackgroundColor: #333,

  primaryForegroundColor: #fff,
  secondaryForegroundColor: #666,
  mutedForegroundColor: #252525,
  
  buttonBackgroundColor: #0061E6,
  buttonForegroundColor: #fff,

  dangerBackgroundColor: #dc3545,
  dangerForegroundColor: #fa3c4c,
  onlineColor: #01A452,
);