$darkTheme: (
  primaryColor: #0061E6,

  windowBackgroundColor: #000,
  contentBackgroundColor: #000,
  backgroundColor: #323232,
  transparentBackgroundColor: #3339,
  overlayBackgroundColor: #0006,

  primaryForegroundColor: #fffc,
  primaryColorForegroundColor: #fff,
  secondaryForegroundColor: #aaa,
  mutedForegroundColor: #252525,

  highlightBorderColor: #333,

  sidebarBackgroundColor: #222,
  sidebarSelectedItemBackgroundColor: #323232,

  modalBackgroundColor: #222,
  modalOverlayColor: #1119,
  modalShadowColor: #0008,

  toolbarButtonColor: #0061E6,
  buttonBackgroundColor: #0061E6,
  buttonForegroundColor: #fff,

  dangerColor: #dc3545,
  dangerForegroundColor: #fff,
  onlineColor: #01A452,
);