$lightTheme: (
  primaryColor: #0084ff,
  
  windowBackgroundColor: #fffe,
  backgroundColor: #eeee,
  sidebarBackgroundColor: #fff0,
  overlayBackgroundColor: #ffff,

  primaryForegroundColor: #000000,
  primaryColorForegroundColor: #fff,
  secondaryForegroundColor: #555,
  mutedForegroundColor: #a5a5a5,

  highlightBorderColor: #eee,

  modalOverlayColor: #1119,
  modalShadowColor: #0003,
  
  toolbarButtonColor: #0084ff,
  buttonBackgroundColor: #0084ff,
  buttonForegroundColor: #fff,

  dangerBackgroundColor: #dc3545,
  dangerForegroundColor: #fa3c4c,
  onlineColor: #01A452,
);