$lightTheme: (
  primaryColor: #0084ff,
  backgroundColor: #fff,
  overlayBackgroundColor: rgba(255, 255, 255, 0.8),
  secondaryBackgroundColor: #eee,

  primaryForegroundColor: #000000,
  secondaryForegroundColor: #999,
  mutedForegroundColor: #a5a5a5,
  
  buttonBackgroundColor: #0084ff,
  buttonForegroundColor: #000000,

  dangerBackgroundColor: #dc3545,
  dangerForegroundColor: #fa3c4c,
  onlineColor: #01A452,
);