$lightTheme: (
  primaryColor: #0084ff,
  
  windowBackgroundColor: #fff,
  contentBackgroundColor: #fff,
  backgroundColor: #0001,
  overlayBackgroundColor: #fffa,

  primaryForegroundColor: #000000,
  primaryColorForegroundColor: #fff,
  secondaryForegroundColor: #555,
  mutedForegroundColor: #a5a5a5,

  highlightBorderColor: #eee,

  sidebarBackgroundColor: #f5f5f5,
  sidebarSelectedItemBackgroundColor: #ebebeb,

  modalBackgroundColor: #fffe,
  modalOverlayColor: #1119,
  modalShadowColor: #0003,
  
  toolbarButtonColor: #0084ff,
  buttonBackgroundColor: #0084ff,
  buttonForegroundColor: #fff,

  dangerBackgroundColor: #dc3545,
  dangerForegroundColor: #fa3c4c,
  onlineColor: #01A452,
);