$darkTheme: (
  primaryColor: #0061E6,
  
  windowBackgroundColor: transparent,
  contentBackgroundColor: #222e,
  backgroundColor: #222,
  transparentBackgroundColor: #222e,
  overlayBackgroundColor: #5556,

  primaryForegroundColor: #fffc,
  primaryColorForegroundColor: #fff,
  secondaryForegroundColor: #aaa,
  mutedForegroundColor: #252525,

  highlightBorderColor: #333,

  sidebarBackgroundColor: transparent,
  sidebarSelectedItemBackgroundColor: #222e,

  modalBackgroundColor: #555d,
  modalOverlayColor: #1119,
  modalShadowColor: #0008,
  
  toolbarButtonColor: #0061E6,
  buttonBackgroundColor: #0061E6,
  buttonForegroundColor: #fff,

  dangerColor: #dc3545,
  dangerForegroundColor: #fff,
  onlineColor: #01A452,
);