$lightTheme: (
  primaryColor: #0084ff,
  
  windowBackgroundColor: transparent,
  contentBackgroundColor: #fffe,
  backgroundColor: #fff,
  transparentBackgroundColor: #fffe,
  overlayBackgroundColor: #eeea,

  primaryForegroundColor: #000000,
  primaryColorForegroundColor: #fff,
  secondaryForegroundColor: #555,
  mutedForegroundColor: #a5a5a5,

  highlightBorderColor: #eee,

  sidebarBackgroundColor: transparent,
  sidebarSelectedItemBackgroundColor: #fffe,

  modalBackgroundColor: #fffe,
  modalOverlayColor: #1119,
  modalShadowColor: #0003,
  
  toolbarButtonColor: #0084ff,
  buttonBackgroundColor: #0084ff,
  buttonForegroundColor: #fff,

  dangerColor: #dc3545,
  dangerForegroundColor: #fff,
  onlineColor: #01A452,
);